@use "../../Assets/SASS-variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.dropdown {
  color: #000000;
  margin: 0;
  overflow: hidden;
  height: 0px;
  transition: height 0.3s ease;
  font-family: $font-header;

  .dropdown-container {
    border-radius: 20px;
    border: black 2px dashed;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: $font-size-default;
    padding: $standard-padding;
    font-family: $font-header;
    align-self: center;
    margin: 0 auto 30px auto;

    .dropdown__workoutName {
      font-family: $font-header;
      font-size: $font-size-smallest;
      width: 250px;
      height: 60px;
    }

    .dropdown__workoutlabel {
      font-size: $font-size-smallest;
      font-weight: bold;
    }
  }
}

.activen {
  min-height: 50px;
  height: 300px;
  overflow: auto;
  padding: $standard-padding;
}

.input-div {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1px, 300px));
  justify-content: center;
  width: 100%;
  gap: 15px;
}

.form-inline-subdiv {
  display: flex;
  flex-direction: column;
}

.form-inline {
  border-radius: 20px;
  border: black 2px dashed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: $font-size-default;
  padding: $standard-padding;
  font-family: $font-header;

  .form-inline-lift {
    width: 220px;
    font-size: $font-size-default;
    font-family: $font-header;
  }

  .form-inline-reps {
    width: 220px;
    font-size: $font-size-default;
    font-family: $font-header;
  }

  .form-inline-weight {
    width: 220px;
    font-size: $font-size-default;
    font-family: $font-header;
  }

  .form-inline-remove {
    background: none;
    border: none;
    margin-right: 20px;
    font-family: $font-header;

    &:hover {
      cursor: pointer;
      box-shadow: $box-shadow-light;
    }
  }
}

.button-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px;
  gap: 25px;

  &__add {
    background: none;
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px;
    font-size: $font-size-default;

    &:hover {
      cursor: pointer;
      box-shadow: $box-shadow-light;
    }
  }

  &__submit {
    background: #00c100;
    color: white;
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px;
    font-size: $font-size-default;

    &:hover {
      cursor: pointer;
      box-shadow: $box-shadow-light;
    }
  }
}
