.Data {
  display: flex;
  align-items: center;
  justify-content: space-around;
  justify-self: center;
  gap: 5px;
  width: 100%;
}

@media screen and (min-width: 1084px) {
  .Data {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
