@use "../../Assets/SASS-variables.scss" as *;

.Grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 320px));
  justify-content: center;
  grid-gap: 1rem;
  background: whitesmoke;
  width: 100%;
}
