@use "../../Assets/SASS-variables.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.navbar {
  width: 100%;
  padding: 1rem 2rem;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 10;
  background-image: $light-page-background-gradient;
  border-bottom: solid 2px black;

  &--active {
    height: 100vh;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    text-decoration: none;

    &__item{
      text-decoration: none;
      font-family: $font-header;
      font-weight: 600;
      font-size: $font-size-large;
      color: black;


    };

    &-button {
      background: transparent;
      border: none;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    height: 100%;

    &-item {
      padding: 21px 0;
      text-decoration: none;
      border-bottom: 1px solid #f7f7f7;
      width: 100%;
      text-align: right;
      color: black;
      font-size:$font-size-medium;


      &--active {
        font-weight: bold;
      }

      &-button {
        display: flex;
        align-items: center;
        background: none;
        border: none;
        font-size: inherit;
        &:hover {
          cursor: pointer;
        }
      }

      &--dropdown {
        position: relative;
        background: none;
      }

      &-arrow {
        margin-left: 0.75rem;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    &__nav {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      width: 100%;
      gap: 25px;
      font-family: $font-header;
      

      &-item {
        text-align: center;
        white-space: nowrap;
        border: none;
        padding: 0;
        width: fit-content;
        border-style: none;
        font-size: $font-size-small;

        &:hover{
          cursor: pointer;
          font-weight: bold;
        }
      }

    }
  }

  .active {
    border-style: none;
    .navbar__nav-item-button {
      border-style: none;
      border: none;
    }
  }
}
