@use "../../Assets/SASS-variables.scss" as *;

.dropdown-wrapper {
  border: solid 2px black;
  border-radius: $border-radius;
  padding: $standard-padding;
  background-image: $light-card-background-gradient;
  display: flex;
  margin:20px;
  flex-direction: column;

  .dropdown-wrapper__button {
    background: none;
    border-radius: 20px;
    border: 2px solid black;
    padding: 10px;
    font-size: $font-size-small;

    &:hover {
      cursor: pointer;
      box-shadow: $box-shadow-light;
    }

    &-close {
      background: red;
      border-radius: 20px;
      border: 2px solid black;
      color: white;
      padding: 10px;
      font-size: $font-size-default;
      margin-left: auto;
      margin-right: 20px;
      max-width: 70px;
    }
  }
}

