@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// Colours
// From positive pup
$colour-font-general: #25283d;
$colour-primary: rgb(55, 174, 160);
$colour-secondary: white;
$colour-secondary-background: #e4f5f3;
$colour-tertiary: #525252;
$colour-container-foreground: #37afa20f;
$colour-quatenary: #bdbdbd;
$colour-quinary: #6f6682;
$colour-senary: #f1f9f8;
$colour-septenary: #f9f9f9;

$colour-footer-primary: #525252;
$colour-footer-secondary: #cacaca;
$colour-footer-line-break: #666666;
$colour-font-paragraph: #6f6682;
$colour-font-label: #817a8d;

// colors from wireframe - light theme

$color-black: #161415;
$color-beige: #f8e9c2;
$color-placidBlue: #d3eaf4;
$color-grey: #f5f5f6;
$color-white: #ffffff;
$light-card-background-gradient: linear-gradient(
  to bottom,
  #d3eaf4,
  #caeeee,
  #cef0df,
  #dfeecd,
  #f8e9c2
);
$light-page-background-gradient: linear-gradient(
  to right bottom,
  #f5f5f6,
  #faeff8,
  #ffe9ec,
  #ffe6d5,
  #f8e9c2
);
$box-shadow-light: 0px 0px 11px 4px #161415;

// Fonts
$font-header: "Montserrat", sans-serif;
$font-general: "Lato", sans-serif;

// Standard font size
$font-size-tiny: 0.625rem;
$font-size-default: 1rem;
$font-size-smallest: 1.125rem;
$font-size-smaller: 1.25rem;
$font-size-small: 1.5rem;
$font-size-medium: 2rem;
$font-size-large: 2.5rem;
$font-size-larger: 3rem;
$font-size-largest: 4rem;

// border radius and padding

$border-radius: 20px;
$standard-padding: 10px;
$emoji-size: 2em;
